In [1]:
import pandas as pd

df = pd.read_csv("data/Ivanovskoe.csv")
df

,УНОМ,DATE_WEEK,класс,число секций,год постройки,Количество этажей,Количество квартир,Износ объекта (по БТИ),Количество пассажирских лифтов,Количество грузопассажирских лифтов
0,8423.0,Воскресенье,жилые,4,1960,5,80.0,-1.0,0.0,0.0
1,8423.0,Вторник,жилые,4,1960,5,80.0,-1.0,0.0,0.0
2,8423.0,Понедельник,жилые,4,1960,5,80.0,-1.0,0.0,0.0
3,8423.0,Пятница,жилые,4,1960,5,80.0,-1.0,0.0,0.0
4,8423.0,Среда,жилые,4,1960,5,80.0,-1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1409,250022.0,Понедельник,жилые,3,2006,14,163.0,-1.0,2.0,3.0
1410,250022.0,Пятница,жилые,3,2006,14,163.0,-1.0,2.0,3.0
1411,250022.0,Среда,жилые,3,2006,14,163.0,-1.0,2.0,3.0
1412,250022.0,Суббота,жилые,3,2006,14,163.0,-1.0,2.0,3.0
1413,250022.0,Четверг,жилые,3,2006,14,163.0,-1.0,2.0,3.0

In [2]:
from GeneratorModel.DayConsumption import DayWaterConsumptionModel

pd.DataFrame(
    DayWaterConsumptionModel.day_consumption_model.generate(
        df.iloc[:, 1:],
        1, 
        "DATE_WEEK"
    )
)

,0,1,2,3,4,5,6,7,8,9,...,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413
0,7.000000,2.000000,1.000000,5.000000,3.000000,6.000000,4.000000,7.000000,2.000000,1.00000,...,3.000000,6.000000,4.00000,7.000000,2.000000,1.000000,5.000000,3.000000,6.00000,4.000000
1,337.946559,269.896318,279.896614,262.974398,272.635947,273.792525,275.658976,326.830774,266.857467,278.85167,...,538.279801,532.947125,545.99132,688.552553,572.585513,586.013283,572.978849,583.809772,595.66644,590.966784

In [3]:
df_new = pd.DataFrame(
    df.groupby("УНОМ").first()
).reset_index()

In [4]:
df_new

,УНОМ,DATE_WEEK,класс,число секций,год постройки,Количество этажей,Количество квартир,Износ объекта (по БТИ),Количество пассажирских лифтов,Количество грузопассажирских лифтов
0,8423.0,Воскресенье,жилые,4,1960,5,80.0,-1.0,0.0,0.0
1,8427.0,Воскресенье,жилые,4,1960,5,79.0,0.0,0.0,0.0
2,12174.0,Воскресенье,жилые,2,1978,16,204.0,-1.0,2.0,2.0
3,12176.0,Воскресенье,жилые,4,1975,9,143.0,-1.0,4.0,0.0
4,12177.0,Воскресенье,жилые,4,1975,9,144.0,15.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
197,65066.0,Воскресенье,жилые,3,2000,17,202.0,-1.0,3.0,3.0
198,65068.0,Воскресенье,жилые,2,2000,22,165.0,-1.0,4.0,2.0
199,65098.0,Воскресенье,жилые,2,2002,14,111.0,0.0,2.0,2.0
200,82044.0,Воскресенье,жилые,4,1997,14,201.0,-1.0,4.0,4.0
201,250022.0,Воскресенье,жилые,3,2006,14,163.0,-1.0,2.0,3.0

In [5]:
from GeneratorModel import pipeline_generator
from datetime import datetime, timedelta


res = pipeline_generator.generate_pipeline_for_date_to_date(
    df_new.iloc[:, 1:], 
    "DATE_WEEK",
    datetime(2025, 1, 1), 
    datetime(2025, 12, 31), 
)

In [6]:
res_reshaped = res.transpose(1, 0, 2).reshape(res.shape[1], -1)

In [7]:
cols = []
begin_date = datetime(2025, 1, 1)
end_date = datetime(2025, 12, 31)
current_date = begin_date

ENG_DATE_TO_RUS = {
    "Monday": "Понедельник",
    "Tuesday": "Вторник",
    "Wednesday": "Среда",
    "Thursday": "Четверг",
    "Friday": "Пятница",
    "Saturday": "Суббота",
    "Sunday": "Воскресенье",
}


while current_date <= end_date:
    for i in range(24):
        cols.append(f"{str(current_date).split()[0]}_{ENG_DATE_TO_RUS[current_date.strftime('%A')]}_{i + 1}")
    current_date += timedelta(days=1)

In [8]:
info = pd.DataFrame(res_reshaped, columns=cols)

In [9]:
info["UNOM"] = df_new["УНОМ"]

In [10]:
info

,2025-01-01_Среда_1,2025-01-01_Среда_2,2025-01-01_Среда_3,2025-01-01_Среда_4,2025-01-01_Среда_5,2025-01-01_Среда_6,2025-01-01_Среда_7,2025-01-01_Среда_8,2025-01-01_Среда_9,2025-01-01_Среда_10,...,2025-12-31_Среда_16,2025-12-31_Среда_17,2025-12-31_Среда_18,2025-12-31_Среда_19,2025-12-31_Среда_20,2025-12-31_Среда_21,2025-12-31_Среда_22,2025-12-31_Среда_23,2025-12-31_Среда_24,UNOM
0,7.731748,3.110005,3.584631,3.412708,4.478722,14.596306,9.205698,9.167577,15.013197,12.140426,...,7.289922,8.759052,11.836716,21.513986,27.449901,23.543203,17.613083,14.512344,8.923449,8423.0
1,7.706430,3.126783,3.626355,3.540505,4.581726,14.838730,8.982813,8.976340,15.225506,12.292950,...,7.124777,8.703993,11.620154,19.634474,26.740716,23.213015,17.482056,14.130177,8.576993,8427.0
2,21.374029,8.746983,9.770372,9.995172,12.974672,41.528138,25.972937,26.112818,42.418962,34.214543,...,21.497726,25.509038,34.999707,60.569294,83.089462,69.237336,52.176088,42.262837,25.730444,12174.0
3,14.602166,6.016887,6.556196,6.588095,8.657976,28.123550,17.165256,17.204966,27.978798,23.519794,...,14.888446,17.297207,23.384089,41.023916,56.198840,48.383918,35.560257,28.461951,17.258539,12176.0
4,13.945488,5.768782,6.234172,6.374491,8.252113,26.718552,16.354705,16.417693,27.319856,22.186795,...,13.393440,16.425630,21.141119,37.931306,50.842841,43.012757,32.938058,26.662349,15.940886,12177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,20.830175,8.722662,9.620013,9.414647,12.271186,40.874574,25.311603,25.091899,42.291053,33.766294,...,21.195664,24.201438,32.903851,58.595089,77.676325,65.757064,51.047048,41.315115,24.435856,65066.0
198,15.725295,6.481621,7.195847,7.033156,9.327224,30.384065,18.840055,18.490754,30.890921,24.713035,...,16.124223,19.316554,26.133290,44.778401,61.260151,50.818584,37.892713,32.382265,19.539468,65068.0
199,11.364810,4.738231,5.358963,5.268399,6.864230,22.343863,13.520790,13.701679,22.637417,18.228154,...,11.222444,13.289680,17.373565,31.188865,42.519597,35.048574,26.439377,21.568470,13.201472,65098.0
200,14.425305,5.978770,6.599853,6.519316,8.448946,27.442535,16.862410,17.163889,27.975017,22.775326,...,14.294125,17.546653,23.373913,39.589890,54.675047,45.868201,34.820076,28.670100,16.922943,82044.0
201,16.034889,6.638432,7.060595,7.281337,9.366031,30.473587,18.897648,18.941168,30.597139,25.292301,...,15.755676,18.318669,25.236759,43.263075,57.307881,48.919469,38.297112,30.350646,18.850143,250022.0

In [11]:
info

,2025-01-01_Среда_1,2025-01-01_Среда_2,2025-01-01_Среда_3,2025-01-01_Среда_4,2025-01-01_Среда_5,2025-01-01_Среда_6,2025-01-01_Среда_7,2025-01-01_Среда_8,2025-01-01_Среда_9,2025-01-01_Среда_10,...,2025-12-31_Среда_16,2025-12-31_Среда_17,2025-12-31_Среда_18,2025-12-31_Среда_19,2025-12-31_Среда_20,2025-12-31_Среда_21,2025-12-31_Среда_22,2025-12-31_Среда_23,2025-12-31_Среда_24,UNOM
0,7.731748,3.110005,3.584631,3.412708,4.478722,14.596306,9.205698,9.167577,15.013197,12.140426,...,7.289922,8.759052,11.836716,21.513986,27.449901,23.543203,17.613083,14.512344,8.923449,8423.0
1,7.706430,3.126783,3.626355,3.540505,4.581726,14.838730,8.982813,8.976340,15.225506,12.292950,...,7.124777,8.703993,11.620154,19.634474,26.740716,23.213015,17.482056,14.130177,8.576993,8427.0
2,21.374029,8.746983,9.770372,9.995172,12.974672,41.528138,25.972937,26.112818,42.418962,34.214543,...,21.497726,25.509038,34.999707,60.569294,83.089462,69.237336,52.176088,42.262837,25.730444,12174.0
3,14.602166,6.016887,6.556196,6.588095,8.657976,28.123550,17.165256,17.204966,27.978798,23.519794,...,14.888446,17.297207,23.384089,41.023916,56.198840,48.383918,35.560257,28.461951,17.258539,12176.0
4,13.945488,5.768782,6.234172,6.374491,8.252113,26.718552,16.354705,16.417693,27.319856,22.186795,...,13.393440,16.425630,21.141119,37.931306,50.842841,43.012757,32.938058,26.662349,15.940886,12177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,20.830175,8.722662,9.620013,9.414647,12.271186,40.874574,25.311603,25.091899,42.291053,33.766294,...,21.195664,24.201438,32.903851,58.595089,77.676325,65.757064,51.047048,41.315115,24.435856,65066.0
198,15.725295,6.481621,7.195847,7.033156,9.327224,30.384065,18.840055,18.490754,30.890921,24.713035,...,16.124223,19.316554,26.133290,44.778401,61.260151,50.818584,37.892713,32.382265,19.539468,65068.0
199,11.364810,4.738231,5.358963,5.268399,6.864230,22.343863,13.520790,13.701679,22.637417,18.228154,...,11.222444,13.289680,17.373565,31.188865,42.519597,35.048574,26.439377,21.568470,13.201472,65098.0
200,14.425305,5.978770,6.599853,6.519316,8.448946,27.442535,16.862410,17.163889,27.975017,22.775326,...,14.294125,17.546653,23.373913,39.589890,54.675047,45.868201,34.820076,28.670100,16.922943,82044.0
201,16.034889,6.638432,7.060595,7.281337,9.366031,30.473587,18.897648,18.941168,30.597139,25.292301,...,15.755676,18.318669,25.236759,43.263075,57.307881,48.919469,38.297112,30.350646,18.850143,250022.0

In [12]:
info.to_csv("all_consumption_2025.csv", index=False)